body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #f7f7f7;
}

img{ 
	margin-bottom: 3rem;
}

h1, p {
	font-family: helvectica, arial, sans-serif;
	font-weight: 300;
	margin-bottom: 1.5rem;
}